nav {
    /* background-color: rgb(44, 180, 44) !important; */
    background-color: #4caf50 !important;
}

.page-footer {
    background-color: grey !important;
}

.carousel {
    height: 350px !important;
    perspective: 350px !important;
}

.carousel-item {
    min-height: 350px !important;
}

.carousel-item :active {
    min-height: 350px !important;
}

.indicators {
    top: 265px;
}

a {
    text-decoration: none;
    color: black;
}

.black-text {
	line-height: 2 !important;
}

.materialboxed {
    border-radius: 4px;
}

.circle.materialboxed {
    border-radius: 50%;
}

#camposcard {
	color: grey;
	font-weight: bold;
}

.btn-large {
    width: 310px;
    background-color: #4caf50 !important;
}

.btn-large:hover {
    background-color: #56c859 !important;
}

.btn {
    background-color: #4caf50 !important;
}

.btn:hover {
    background-color: #56c859 !important;
}

.waves-effect {
    background-color: #4caf50 !important;
    margin-left: 10px;
    margin-right: 10px;
}

.waves-effect:hover {
	background-color: #56c859;
}

.waves-effect {
	background-color: #4caf50 !important;
}
.waves-button-input {
    color: white;
}

.input-field input:focus + label {
	color: #4caf50 !important;
}

.input-field input:focus {
border-bottom: 1px solid #4caf50 !important;
}

/* #fondo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/fondo.png');
    text-align: center;
} */

.dropdown-content li>a, .dropdown-content li>span {
	color: #4caf50 !important;
}

textarea.materialize-textarea:focus + label {
	color: #4caf50 !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
border-bottom: 1px solid #4caf50 !important;
}

[type="checkbox"]:checked+span:not(.lever):before {
	border-right: 2px solid #4caf50;
	border-bottom: 2px solid #4caf50;
}

nav ul a {
    padding: 0 20px;
}

#filtbtn {
    width: 100%;
    margin-left: -1px;
}

dropdown-content {
    top: -50px;
}

div:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-bottom: 0px;
}

#h3reg {
    margin-bottom: 15px;
}

.toast {
    background-color: whitesmoke;
    color: black;
}

#divparam {
    display: none;
}

#noresult {
    display: none;
}

#footer_icons a {
    padding: 0 8px;
    float: left;
}

.pagination li.active {
    background-color: #4caf50;
}

.pagination-page-info b {
    color: #4caf50;
}

.pagination-page-info {
    margin-left: 10px;
    margin-bottom: 20px;
}	

ul#dropdown2.dropdown-content {
    width: 200px;
    top: -60px;	
}

@media only screen and (min-width: 600px) {
	#divedit {
		display: flex;
		align-items: baseline;
	}
}