<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<a id="top"></a>

<div class="navbar-fixed hide-on-small-only">
    <nav>
        <div class="nav-wrapper">
            <a href="inicio" class="brand-logo"><img src="../static/images/logonav.png" width="50px" title="Inicio"></a>
            <ul class="right hide-on-med-and-down">
				{% if "id_usuario" in request.session %}
				<ul id="dropdown2" class="dropdown-content" style="top: 60px; width: 130px;">
					<li style="background-color:rgb(76,175,80); text-align: center;"><a class="grey-text text-lighten-3" href="listado-usuario">Mis anuncios</a></li>
					<li style="background-color:rgb(76,175,80); text-align: center;"><a class="grey-text text-lighten-3" href="logout-usuario">Cerrar sesión</a></li>
				</ul>
				<li><a class="dropdown-trigger" data-target="dropdown2">Menú Usuario</a></li>
				{% endif %}
				{% if "id_usuario" in request.session %}
				<li><a href="registrar-anuncio">Anuncia tus clases</a></li>
				{% else %}
				<li><a href="alta-login">Login</a></li>
				<li><a href="alta-login">Anuncia tus clases</a></li>
				{% endif %}
				<li><a href="listado">Anuncios</a></li>
				<li><a href="contacto">Contacto / Chat</a></li>
          </ul>
        </div>
    </nav>
</div>

 <div class="hide-on-med-and-up">
	<ul id="dropdown1" class="dropdown-content">
	  {% if "id_usuario" in request.session %}
	  <li style="background-color:rgb(76,175,80);"><a class="grey-text text-lighten-3" href="logout-usuario">Logout</a></li>
	  <li style="background-color:rgb(76,175,80);"><a class="grey-text text-lighten-3" href="listado-usuario">Mis Anuncios</a></li>
	  <li class="divider"></li>
      {% endif %}
	  {% if "id_usuario" in request.session %}
	  <li style="background-color:rgb(76,175,80);"><a class="grey-text text-lighten-3" href="registrar-anuncio">Anúnciate</a></li>
	  {% else %}
	  <li style="background-color:rgb(76,175,80);"><a class="grey-text text-lighten-3" href="alta-login">Login</a></li>
	  <li class="divider"></li>
	  <li style="background-color:rgb(76,175,80);"><a class="grey-text text-lighten-3" href="alta-login">Anúnciate</a></li>
	  {% endif %}
	  <li style="background-color:rgb(76,175,80);"><a class="grey-text text-lighten-3" href="listado">Anuncios</a></li>
      <li style="background-color:rgb(76,175,80);"><a class="grey-text text-lighten-3" href="contacto">Contacto</a></li>
	</ul>
	<nav>
	<div class="nav-wrapper" style="background-color: rgb(76, 175, 80);">
		<a href="inicio" class="brand-logo"><img src="../static/images/logonav.png" width="50px"></a>
		<i class="material-icons center dropdown-trigger" data-target="dropdown1" style="display:inline; float:right;padding-right:12px;">menu</i>
	</div>
	</nav>
	<br>
</div>

{% block content %} {% endblock %}

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <a href="inicio"><h5 class="white-text">Particularia</h5></a>
          <p class="grey-text text-lighten-4" style = "font-style: italic; margin-top: -5px;">Powered by Django<sup>®</sup></p>
          <br>
        </div>
        <div class="col l4 offset-l2 s12 hide-on-small-only">
          <h5 class="white-text">Enlaces</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="alta-login">Identificación Usuario</a></li>
            <li><a class="grey-text text-lighten-3" href="listado">Listado de anuncios</a></li>
            <li><a class="grey-text text-lighten-3" href="registrar-anuncio">Registro de anuncio</a></li>
            <li><a class="grey-text text-lighten-3" href="contacto">Contacto / Chat</a></li>
          </ul>
          <br>
        </div>
        <div class="white-text s12 hide-on-med-and-up">
        <br>
          <ul>
            <li style="padding:3px;margin-left:7px;"><h6><a class="grey-text text-lighten-3" href="alta-login">Identificación Usuario</a></h6></li>
            <li style="padding:3px;margin-left:7px;"><h6><a class="grey-text text-lighten-3" href="listado">Listado de anuncios</a></h6></li>
            <li style="padding:3px;margin-left:7px;"><h6><a class="grey-text text-lighten-3" href="registrar-anuncio">Registro de anuncio</a></h6></li>
            <li style="padding:3px;margin-left:7px;"><h6><a class="grey-text text-lighten-3" href="contacto">Contacto / Chat</a></h6></li>
         </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Nacho Comabella
      <div class="grey-text text-lighten-4 right">
      <section id="footer_icons">
        <a href="https://www.facebook.com/" target="_blank"><img src="../static/images/facebook.png" width="17px"></a>
        <a href="https://www.twitter.com/" target="_blank"><img src="../static/images/twitter.png" width="25px"></a>
        <a href="https://www.linkedin.com/" target="_blank"><img src="../static/images/linkedin.png" width="25px"></a>
        <a href="https://www.youtube.com/" target="_blank"><img src="../static/images/youtube.png" width="25px"></a>
    </section>
    </div>
      </div>
    </div>
</footer>

<script src="../static/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
M.AutoInit();
$(".dropdown-trigger").dropdown();
</script>

{% block scripts %} {% endblock %}

</body>
</html>