{% extends "base.html" %}

{% block title %}Particularia - Contacta anunciante{% endblock %}

{% block content %}

<body onload="textareaValue()">

<div class="container">
<br class="hide-on-small-only">

<div class="hide-on-small-only" style="margin-left: 20px;">
	<h4>Actualizar anuncio</h4>
</div>
<div class="hide-on-med-and-up" style="text-align: center;">
	<h4>Actualizar anuncio</h4>
</div>

<div class="row">
<div class="col s12 m12" style="padding:20px;">
	<div class="card-panel grey lighten-5 z-depth-1" style="margin-top: 0;">

		<span class="black-text">
	<form action="guardar-cambios-anuncio" method="post" enctype="multipart/form-data" class="col s12">
		{% csrf_token %}
		<input type="hidden" name="id_anuncio" value="{{anuncio.id}}"/>
		<div class="row" id="divedit">
			<div class="input-field col s12 m2" style="margin: 10px 0 5px 0;">
				<p style="margin: 0; padding: 0;">
				    <img class="materialboxed" src="../static/media/{{anuncio.foto}}" width="80px">
				</p>
				<p style="margin-top: 0; margin-bottom: 7px; padding: 0 10px 10px 2px;">
				    <label><input type="checkbox" id="borrar" value="on" name="borrar"
				    {% if anuncio.foto == "images/profile/noperfil.png" %}
				    disabled
				    {% endif %}
				    />
				    <span>Borrar</span></label>
				</p>
			</div>
 			<div class="input-field col s12 m3">
			    <input id="nombre" type="text" name="nom" maxlength="20" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{2,20}$" required value="{{nom}}"/>
			    <label for="nombre">Nombre*</label>
			</div>
			<div class="input-field col s12 m4">
			    <input id="apell" type="text" name="apell" maxlength="30" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{2,30}$" required value="{{apell}}"/>
			    <label for="apell">Apellidos*</label>
			</div>
<!-- 			<div class="input-field col s12 m9">
			    <input id="nombre" type="text" name="nombre" maxlength="20" pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{2,20}$" required value="{{anuncio.nombre}}"/>
			    <label for="nombre">Nombre*</label>
			</div> -->
			<div class="input-field col s12 m3">
				<select name="categoria_id">
					{% for m in materias %}
					<option value="{{m.id}}">{{m.materia}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12 m12">
			<textarea id="desc" class="materialize-textarea" name="descripcion" minlength="10" maxlength="300" data-length="300" required></textarea>
			<label for="desc">Detalles*</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12 m5">
			<p style="color:black;">
			Horario* &nbsp;&nbsp;&nbsp;
			<label>
				<input type="checkbox" id="c1" value="on" name="am" onchange="checks()"
				{% if anuncio.horario == "Mañanas" or anuncio.horario == "Mañana y tarde"%}
				checked
				{% endif %}
				/>
				<span>Mañana</span>
			</label>  &nbsp; &nbsp; &nbsp;
			<label>
				<input type="checkbox" value="on" name="pm" onchange="checks()"
				{% if anuncio.horario == "Tardes" or anuncio.horario == "Mañana y tarde"%}
				checked
				{% endif %}
				/>
				<span>Tarde</span>
			</label>
			</p>
			</div>
			<div class="input-field col s12 m2">
				<input id="precio" type="text" name="precio" maxlength="6" pattern="^\d{0,3}((\.|,)\d{0,2})?$" value="{{anuncio.precio}}" required/>
				<label for="precio">Precio/hora*</label>
			</div>
			<div>
				<div class="input-field col s12 m5" style="margin-bottom: 0;">
					<div class="file-field input-field" style="margin-top: 0;">
						<div class="btn">
						  <span>Foto perfil nueva</span>
						  <input type="file" name="foto">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12 m5" style="margin-bottom: 5px;">
				<input id="tfno" type="text" name="telefono" maxlength="9" pattern="[6-9]{1}[0-9]{8}" required value="{{anuncio.telefono}}">
				<label for="tfno">Teléfono de contacto*</label>
			</div>
			<div class="input-field col s12 m7" style="margin-bottom: 5px;">
				<input id="mail" type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required value="{{anuncio.email}}"/>
				<label for="mail">E-mail de contacto*</label>
			</div>
		</div>
		<div class="row">
		    <br class="hide-on-med-and-up">
			<div class="input-field col m5" style="margin-top: 0;">
				<p style="margin-top: 0;">
					<label>
						<input type="checkbox" value="tp_on" name="ctp"
						{% if anuncio.tfno == "SI" %}
						checked
						{% endif %}
						/>
						<span>Mostrar teléfono en el anuncio</span>
					</label>
				</p>
			</div>
			<div class="input-field col m7" style="margin-top: 0;">
				<p style="margin-top: 0;">
					<label>
						<input type="checkbox" value="ep_on" name="cep"
						{% if anuncio.mail == "SI" %}
						checked
						{% endif %}
						/>
						<span>Mostrar e-mail en el anuncio</span>
					</label>
				</p>
			</div>
		</div>
		<!--<div style="color:#9e9e9e;font-style:italic;">* Campos obligatorios</div><br class="hide-on-med-and-up"><br class="hide-on-small-only">-->
		<div col s12>
		    <div style="padding-bottom: 10px;">
			    <button class="waves-effect waves-light btn" type="submit" style="margin-left: -1px; margin-right: 20px;" onclick="return opcion()">ACTUALIZAR</button>
				<p class="hide-on-med-and-up"></p>
			    <a class="waves-effect waves-light btn" href="listado-usuario" style="margin-left: -1px;">VOLVER</a>
			</div>
		</div>
	</form>
	</span>
	</div>
</div>

</div>

</div>
<br><br class="hide-on-small-only">
</body>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
});
</script>

<script>
    function checks() {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
    if (checkedOne) {
    		console.log("ok");
            } else {
				M.toast({html: 'Al menos un horario debe estar seleccionado.'})
                document.getElementById("c1").checked = "checked";
            }
    }
</script>

<script>
    function opcion() {
        var sel = document.getElementById("materias");
        var opt = sel.options[sel.selectedIndex].value;
		if (opt == "0") {
			M.toast({html: 'Por favor, elige una Materia'})
            return false;
        }
	}
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var options = {
      indicators: true
  };
  var elems = document.querySelectorAll('.carousel');
  var instances = M.Carousel.init(elems, options);
});
</script>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.materialboxed');
		var instances = M.Materialbox.init(elems);
	  });
</script>

<script>
function textareaValue() {
  document.getElementById("desc").value = "{{anuncio.descripcion}}";
  document.getElementById("desc").focus();
}
</script>
{% endblock %}