<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="shortcut icon" href="../static/images/favicon.ico">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Particularia</title>
</head>
<body style="background-image: url('../static/images/fondo.jpg'); background-repeat: no-repeat; background-size: cover; background-color: rgb(236,237,241); text-align: center;">
<br><br><br><br><br><br><br><br><br>

<div class="container">

    <div class="hide-on-med-and-up">
        <br><br>
    </div>

    <div>
    	<img class="responsive-img" src="../static/images/logocompleto.png">
    </div>
    <br>

    <div>
    	<h3>Portal de clases particulares online</h3>
    </div>
    <br><br>

    <div class="hide-on-small-only">
    	<a class="waves-effect waves-light btn-large" style="margin-bottom: 10px;" href="listado">Busca tus clases</a>
    	{% if "id_usuario" in request.session %}
    	<a class="waves-effect waves-light btn-large" style="margin-bottom: 10px;" href="registrar-anuncio">Anuncia tus clases</a>
    	{% else %}
    	<a class="waves-effect waves-light btn-large" style="margin-bottom: 10px;" href="alta-login">Anuncia tus clases</a>
    	{% endif %}
    </div>

    <div class="hide-on-med-and-up">
    	<a class="waves-effect waves-light btn-large" style="width:300px;" href="listado">Busca tus clases</a>
        <br><br>
        {% if "id_usuario" in request.session %}
    	<a class="waves-effect waves-light btn-large" style="width:300px;" href="registrar-anuncio">Anuncia tus clases</a>
    	{% else %}
    	<a class="waves-effect waves-light btn-large" style="width:300px;" href="alta-login">Anuncia tus clases</a>
    	{% endif %}	
    </div>

</div>
    <!--<div class="hide-on-med-and-up" style="margin;0;padding:0;text-align: right;">-->
    <!--    <img src="../static/images/fondobaj.png">-->
    <!--</div>-->
</body>
</html>