{% extends "base.html" %}

{% block title %}Particularia - Confirmacion{% endblock %}

{% block content %}
<div class="container">
<br><br><br>
    <div class="row">
	<div class="col s12 m12" style="font-size: 20px;">
		<!--Alta confirmada. Por favor <a href="alta-login"><span style="color:#4caf50;">identificate</span></a>.-->
		Alta confirmada.<br><br>
		Por favor, identificate:
	</div>
	</div>
	<br>
	<div class="row">
	<div class="col s12 m6">
        <form method="post" action="login-usuario"> {% csrf_token %}
              <div class="input-field">
                  <input id="user" type="text" name="email"/>
                  <label for="user">E-mail</label>
              </div>
              <div class="input-field">
                  <input id="psswrd" type="password" name="clave" maxlength="10" pattern=".{4,10}" required title="De 4 a 10 caracteres"/>
                  <label for="psswrd">Contraseña</label>
              </div><br>
	         <div>
	             <button class="waves-effect waves-light btn" type="submit" style="margin-left: -1px;">ACCEDER</button>
	             <a class="waves-effect waves-light btn" href="listado" style="margin-left: 0;">VOLVER</a>
	         </div>
         </form>
         <br>
         <span style="color:red">{{error_login}}</span>
	</div>
	<div class="col s12 m6">
	</div>
	</div>
    <br><br><br>

	<!--<div>-->
	<!--	<a class="waves-effect waves-light btn" href="listado" style="margin-left: 0;">VOLVER</a>-->
	<!--</div>-->
</div>
<br><br><br><br><br><br><br>
{% endblock %}